.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  gap: 10px; /* spacing between slides */
}

.embla__slide {
  flex: 0 0 10%;
  min-width: 0;
}