.background {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.bg-video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.bottom_content {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.info_display {
  justify-content: center;
  margin-bottom: 10px;
  display: block;
}

.nature_rune_display {
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: 10px;
  display: block;
}

.items_sidebar {
  position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    height: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

/* Embla Carousel Formatting */
.alch-carousel {
  max-width: 90%;
  margin: auto;
  position: relative;

  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 25%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__controls {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 10rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: flex;
  gap: 1rem; /* Space between prev/next buttons */
  justify-content: center;
  margin-top: 0;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border: 0.2rem solid var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;

  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
}

.embla__button--disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 55%;
  height: 55%;
}

.embla__selected-snap-display {
  justify-self: flex-end;
  align-self: center;
  color: var(--text-low-contrast);
  font-weight: 600;
}

@media only screen and (max-width: 800px)  {
  .alch-carousel {
  --slide-size: 40%;
}

.embla__controls {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 1rem;
}


.embla__button__svg {
  width: 25%;
  height: 25%;
}

.bottom_content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.info_display {
  display: inline-block;
  justify-content: center;
  max-width: 30%;
}

.nature_rune_display {
  display: inline-block;
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: 10px;
}
}