.dropShadow {
    filter: drop-shadow(5px 5px 5px #000000);
}

.index-display {
    font-size: 2rem;
    user-select: none;
    display: flex;
    justify-content: right;
    align-self: flex-end;
    top: 0%;
    padding-right: 2%;
    border-style: double;
    border: #ffffff;
    border-radius: 2%;
}

.alch-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 10%;
    gap: 32px;
}

.alch-item img {
    image-rendering: pixelated;
    scale: 2.0;
}

.alch-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}


@media only screen and (max-width: 640px) {
    .index-display {
        font-size: 1rem;
        user-select: none;
        display: flex;
        justify-content: right;
        align-self: flex-end;
        top: 0%;
        padding-right: 1%;
        border-style: double;
        border: #ffffff;
        border-radius: 1%;
    }

    .alch-item {
        height: 16px;
        margin-bottom: 5%;
        gap: 16px;
        font-size: x-small;
    }

    .alch-info {
        font-size: x-small;
    }

    .alch-item img {
        image-rendering: pixelated;
        scale: 1.0;
    }
}