.dropShadow {
    filter: drop-shadow(5px 5px 5px #000000);
}

.index-display {
    font-size: 2rem;
    user-select: none;
    display: flex;
    justify-content: right;
    align-self: flex-end;
    top:0%;
    padding-right: 2%;
    border-style: double;
    border: #ffffff;
    border-radius: 2%;
}

.alch-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 10%;
    gap: 32px;
}

.alch-item img {
    image-rendering: pixelated;
}

.alch-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

.nature-rune-panel {
    margin: 0;
    padding: 0;
}

.nature-rune {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 10%;
    gap: 32px;
}

.nature-rune h1 {
    display: block;
}

.nature-rune p {
    display: block;
}

.input-alchs-per-hour {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row;
}

.input-alchs-per-hour p {
    margin-right: 10px;
}

@media only screen and (max-width: 640px)  {
    .index-display {
        font-size: 1rem;
    }

    .alch-item {
        height: 16px;
        margin-bottom: 5%;
        gap: 16px;
        font-size: small;
    }

    .alch-info {
        font-size: small;
    }

}